CleanArch.Sample.Present.API/obj/CleanArch.Sample.Present.API.csproj.nuget.dgspec.json
CleanArch.Sample.Present.API/obj/CleanArch.Sample.Present.API.csproj.nuget.g.props
CleanArch.Sample.Present.API/obj/CleanArch.Sample.Present.API.csproj.nuget.g.targets
CleanArch.Sample.Present.API/obj/project.assets.json
CleanArch.Sample.Present.API/obj/project.nuget.cache
CleanArch.Sample.Present.API/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
CleanArch.Sample.Present.API/obj/Debug/net7.0/CleanArch.Sample.Present.API.AssemblyInfo.cs
CleanArch.Sample.Present.API/obj/Debug/net7.0/CleanArch.Sample.Present.API.AssemblyInfoInputs.cache
CleanArch.Sample.Present.API/obj/Debug/net7.0/CleanArch.Sample.Present.API.assets.cache
CleanArch.Sample.Present.API/obj/Debug/net7.0/CleanArch.Sample.Present.API.csproj.AssemblyReference.cache
CleanArch.Sample.Present.API/obj/Debug/net7.0/CleanArch.Sample.Present.API.GeneratedMSBuildEditorConfig.editorconfig
CleanArch.Sample.Present.API/obj/Debug/net7.0/CleanArch.Sample.Present.API.GlobalUsings.g.cs
